<app-navbar></app-navbar>
<div class="page-bg"></div>

<div class="container-fluid padded">
  <div class="row">
    <button class="btn btn-success btn-lg random-buttons" (click)="updateRandom()">Randomize</button>
    <button class="btn {{getButtonClass('Any')}} btn-lg random-buttons" (click)="getAnyRandomHero()">All</button>
    <button class="btn {{getButtonClass('Offense')}} btn-lg random-buttons" (click)="getOffense()">Offense</button>
    <button class="btn {{getButtonClass('Defense')}} btn-lg random-buttons" (click)="getDefense()">Defense</button>
    <button class="btn {{getButtonClass('Tanks')}} btn-lg random-buttons" (click)="getTanks()">Tank</button>
    <button class="btn {{getButtonClass('Healers')}} btn-lg random-buttons" (click)="getHealers()">Support</button>
    <button class="btn {{getButtonClass('GoodTeamComp')}} btn-lg random-buttons" (click)="getGoodTeamComp()">Balanced Team Comp</button>
    <button class="btn {{getButtonClass('Male')}} btn-lg random-buttons" (click)="getMales()">Male</button>
    <button class="btn {{getButtonClass('Female')}} btn-lg random-buttons" (click)="getFemales()">Female</button>
    <button class="btn {{getButtonClass('Omnic')}} btn-lg random-buttons" (click)="getOmnics()">Omnic</button>
  </div>
  <div class="row">
    <div class="col-md-1">
      <h1>Hero Count</h1>
    </div>
    <div class="col-md-10">
      <ul class="pagination">
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(1)">1</a></li>
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(2)">2</a></li>
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(3)">3</a></li>
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(4)">4</a></li>
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(5)">5</a></li>
        <li><a href="#" (click)="setHeroCount($event.target.innerText)" [class.selected]="isSelected(6)">6</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <app-hero class="col-md-2 col-xs-6 col-md-offset-{{index == 0 ? 6 - currentRandomedHeroes.length : 0}}" *ngFor="let hero of currentRandomedHeroes; let index = index" [hero]="hero"></app-hero>
  </div>
</div>
